* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;

}

html,
body {
  height: 100%;
  width: 100%;

}
#main{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* nav-bar-start */

nav {
  position: fixed;
  /* background-color: rgb(0, 255, 68); */
  display: flex;
  align-items: flex-start;
  height: 12vh;
  width: 100%;
  padding: 30px 100px;
  justify-content: space-between;
  background-color: #111;
  z-index: 10;
  color: #fff;
}

nav h1 {
  font-size: 1.6vw;
}

.nav-part2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}

.nav-part2 h4 {
  font-size: 0.85vw;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2.6vw;
  color: #fff;
  transition: color ease .5s;
  cursor:context-menu;
}
.nav-part2 h4:hover{
color: #818181;
}

.nav-part2 h5 {
  margin-bottom: 1vw;
  display: none;
  overflow: hidden;
  z-index: 10;
}


.nav-part2 h5 span {
  font-size: 0.77vw;
  font-weight: 400;
  transform: translateY(25px);
  display: inline-block;
  transition: color ease .5s;
  cursor: pointer;
}
.nav-part2 h5 span:hover{
  color: #818181;
  }
  

nav .btn {
  /* background-color: #0BA34E; */
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  font-size: 0.85vw;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  background-color: transparent;
  overflow: hidden;
  color: #fff;
  align-self: center;
}

nav .btn::before {
  background-color: #0BA34E;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all linear .5s;
  
}
nav .btn:hover::before{
   width: 35%;

}

nav .btn svg {
  height: 0.8vw;
  margin-left: 1.6vw;
}

#nav-bottom {
  width: 85%;
  height: 0vh;
  position: absolute;
  /* background-color: red; */
  top: 100%;
  background-color: #111;
  z-index: 9;
  border-bottom: 1px solid #fff;
}
/* nav-bar-end */

/* page1-start */

#page1 {
  height: auto;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  padding-top: 40vh;
  pointer-events: none;
  color: #fff;
}

#page1 h1 {
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 8.5vw;
  letter-spacing: 6px;
  color: #fff;
}
#page1 br:first-child{
  display: none;
}
#page1 h1 svg {
  height: 6vw;
  border-radius: 50%;
  width: 6vw;
  background-color: #0BA34E;
  transform: scale(1) rotate(0deg);
  transition: all 0.5s ease ;
  pointer-events:fill;
}
#page1 h1 svg:hover {
  transform: scale(0.8) rotate(-30deg);
}

#page1 p {
  text-align: center;
  font-weight: 500;
  margin-top: 3vh;
  font-size: 1.2vw;
  color: #fff;
  width: 40%;
}

#page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1-something h4 {
  font-weight: 400;
  font-size: 1vw;
  text-transform: lowercase;
  /* margin-top: 0.5vw; */
  padding: 9px 18px;
  border: 1px solid #B8B8B8;
  border-radius: 50px;
}

#page1-something h4:nth-last-child(2) {

  border: none;
  padding: 2px;
}

#moving-div {
  margin-top: 10vh; 
  white-space: nowrap;
  padding: 1.2vw;
  overflow: hidden;
  width: 44%;
  position: relative;

}

#moving-div .move {
  display: inline-block;
  animation-name: mobe;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#moving-div .move img {
  height: 1vw;
  margin: 0 1.2vw;
}

@keyframes mobe {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-100%);
  }

}

#blur-left {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, #111, transparent);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#blur-right {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, transparent, #111);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}


/* page1-end */

/* page2-start */

#page2{
  width: 100%;
  height: 100vh;
  border-top: 1px solid #333;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15vh 100px;
  background-color: #111;
  color: #fff;

}
.p2-left{
   width: 35%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   padding-top: 5vh;
   pointer-events: none;
}
.p2-right{
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
}

.p2-left p{
  font-size: 1vw;
  font-weight: 500;
  color: #fff;
margin-bottom: 0;
}
.p2-left h5{
  font-size: 1.4vw;
  font-weight: 500;
  padding-bottom: 5vh;
}
.p2-elem{
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 2px solid #333;
  padding: 2vh 0;
  position: relative;
  cursor: pointer;
  transition: border-top 0.5s linear;
  z-index: 0;
  flex-direction: row;
}
.p2-elem:hover{
  border-top: 2px solid #fff;
}
.p2-elem-right{
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.p2-elem h4{
  width: 70%;
  font-size: 1.6vw;
  text-transform: capitalize;
  font-weight: 600;
  z-index: 1;
}
.p2-elem p{
  font-size: 1vw;
  color: #474747;
  font-weight: 500;
}
.p2-elem svg{
  height: 0.8vw;
  transform: translate(0, 0) ;
  transition: all .3s linear;
}
.p2-elem:hover svg{
  height: 0.8vw;
  animation: arrowMove 0.1s linear;
}

@keyframes arrowMove {
  0%,100%{
    transform: translate(5px ,-5px);
  }
  25%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(5px ,-5px);
  }
  75%{
    transform: translate(0,0);
  }
  
}

.p2-elem img{
  width: 7vw;
  height: 7vw;
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
  z-index: 0;
}

/* page2-end */

/* page3-start */

#page3{
  width: 100%;
  height: 100vh;
  background-image: url("https://assets-global.website-files.com/64a2ab71942e1d57feb6fe39/65f306410543a22950d85603_reel-cover.webp");
  background-position: center;
  background-size:150%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p3-play{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.p3-play i{
  width: 10vw;
  height: 10vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2vw;
  color: #111;
}
.p3-play h4{
  background-color: #fff;
  color: #111;
  font-size: .9vw;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 15px;
  margin-top: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: all .5s linear;
}

.p3-play:hover h4{
  transform: translateY(0px);
  opacity: 1;
}

#page3 video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0);
  border-radius: 30px;
  z-index: 99;
}

/* page3-end */


/* page4-start */

#page4{
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding:60px;
  pointer-events: none;
  flex-direction: row;
}
#page4 .p4-left{
  width: 35%;  
  margin-bottom: 0; 
}
#page4 .p4-left h1{
  color: #111111;
  font-size: 3.4vw;
  font-weight: 600;
  line-height: 3.4vw;
}
#page4 .p4-right{
  width: 50%; 
 
}
#page4 .p4-right h5{
  font-size: 1.2vw;
  font-weight: 500;
  text-transform: uppercase;
  color: #B8B8B8;
  margin-bottom: 2vw;
}
#page4 .p4-right p{
  font-size: 1.7vw;
  font-weight: 500;
  color: #111111;
  margin-bottom: 3vw;
}
#page4 .p4-right .p4-right-elem:last-child p:last-child {
  margin-bottom: 0; 
}

/* page4-end */

/* page5-start */

#page5{
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding:50px;
  pointer-events: none;

}
#page5 .card{
  width: 380px;
  height: 260px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 5px;
}
#page5 .card .card-top{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#page5 .card .card-top h1{
 color: #111111;
 font-size: 60px;
 font-weight: 500;
}
#page5 .card .card-top p{
 color: #111111;
 font-size: 14px;
 font-weight: 500;
}
#page5 .card .card-bottom{
  color: #B8B8B8;
 font-size: 14px;
 font-weight: 600;
}

/* page5-end */

/* page6-start */

#page6{
  width: 100%;
    height: 80vh;
    padding: 50px;
    padding-top: 100px;
    background-color: #fff;
    padding-bottom: 50px;
   
}
#page6 .p6-container{
  width: 60vw;
    height: 100%;
    margin-left: auto;
    margin-right: 50px;
    position: relative;
    display: flex;
    pointer-events: none;
    flex-direction: row;
    

}
#page6 .p6-container h2{
  float: left;
  font-size: 1vw;
  position: absolute;
  font-weight: 500;
  color: #111;
  top: 10px;
  left: 0;
  pointer-events: none;
  margin-bottom: 0;

}
#page6 .p6-container p{
  font-size: 2.5vw;
  color: #111;
  font-weight: 500;
  pointer-events: none;

}
#page6 .p6-container span{
  width: 20vw;
  display: inline-block;

}
/* page6-end */

/* page7-start */


#page7{
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  display: flex;
 flex-direction: column;
 background-color: #fff;
 gap: 80px;
}
#page7 .p7-container{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
#page7 .p7-left{
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #111;
  padding-top: 20px;
  border-top: 1px solid #B8B8B8 ;
  transition: all ease .5s;
  cursor: pointer;
}
#page7 .p7-left:hover{
  border-top: 1px solid #111 ;
}
#page7 .p7-left .p7-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page7 .p7-left h3,p{
  color: #111;
}
#page7 .p7-left h3{
  font-size: 2.5vw;
  font-weight: 500;

}
#page7 .p7-left p{
  font-size: 1.3vw;
  font-weight: 500;
  margin: 0 0;

}

#page7 .p7-left i{
  color: #111;
  font-size: 1.3vw;
  transform: translate(0, -5px) rotate(-45deg) ;
  transition: all .3s linear;
}
#page7 .p7-left:hover i{
  animation: arrowMove1 0.1s linear;

}
@keyframes arrowMove1 {
  0%,100%{
    transform: translate(5px ,-10px) rotate(-45deg);
  }
  25%{
    transform: translate(0,-5px) rotate(-45deg);
  }
  50%{
    transform: translate(5px ,-10px) rotate(-45deg);
  }
  75%{
    transform: translate(0,-5px) rotate(-45deg);
  }
  
}
#page7 .p7-right{
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.invisible{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 1;
  top: 0;
}
#page7 .p7-right video{
 width: 100%;
 height: 100%;
 object-fit: cover;
 transition: all ease .5s;
}
#page7 .p7-right .p7-bubble{
 width: 150px;
 height: 150px;
 position: absolute;
 background-color: #4F5BFF;
 border-radius: 50%;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: space-around;
 padding: 20px;
 opacity: 0;
 scale: 0;
 z-index: 0;
}
#page7 .p7-right h4{
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
#page7 .p7-right i{
  font-size: 16px;
  transform: translate(0, -5px) rotate(-45deg) ;
  align-self: flex-end;
  color: #fff;
}

/* page7-end */


/* page8-start */

#page8{
  height: 100vh;
  width: 100%;
  padding: 60px;
}
#page8 .p8-container{
  height: 100%;
  width: 75%;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
}
#page8 .p8-container .p8-box{
  position: relative; 
  height: 100%;
  width: 40%;
  border-top: 1px solid #dadada;
  overflow: hidden; 
  transition: all 0.5s ease;
  cursor: pointer;
}
#page8 .p8-container .p8-box:hover{
  border-top: 1px solid #333;

}


#page8 .p8-container .p8-box h3{
 font-size: 2.5vw;
 font-weight: 500;
 margin-top: 10px;
}
#page8 .p8-container .p8-box i , .arrow{
  color: #111;
  font-size: 1.3vw;
  transform: translate(0, -5px) rotate(-45deg) ;
  transition: all .3s linear;
  margin-left: 10px;
}
#page8 .p8-container .p8-box:hover i{
  animation: arrowMove1 0.1s linear;

}
#page8 .p8-container .p8-box .p8-img{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 30px;

}
#page8 .p8-container .p8-box img{
  filter: invert(100%);
  display: inline-block;
  height: 15px;

}
#page8 .p8-container .p8-box p{
  font-size: 1.2vw;
  font-weight: 500;
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
}

#page8 .p8-container video{
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; 
  object-fit: cover;
  transition: all 0.5s ease ;
  margin-bottom: 0;
}


/* page8-end */


/* page9-start */

#page9{
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  color: #fff;
  padding: 60px;
  position: relative;
}
#page9 .p9-top {
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 80px;
  border-bottom: 1px solid #B8B8B8;
  
}
#page9 .p9-top h2{
font-size: 5vw;
text-align: start;
width: 70%;
margin-left: auto;
line-height: 5vw;
text-transform: capitalize;
}
#page9 .p9-bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
}
#page9 .p9-bottom .p9-bottom-left{
  width: 30%;


}
#page9 .p9-bottom .p9-bottom-left button{
  background-color: #0DA34E;
  font-size: 1.4vw;
  padding: 20px 30px;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 50px;
  margin-top: 0;
  cursor: pointer;

}
#page9 .p9-bottom .p9-bottom-right{
  width: 70%;
  height: 100%;
  position: relative;
}
#page9 .p9-bottom .p9-bottom-right .p9-right-top p{
  font-size: 2.5vw;
  font-weight: 500;
  color: #fff;
}
#page9 .p9-bottom .p9-bottom-right .p9-right-top span{
  width: 300px;
  height: 10px;
  display: inline-block;
}
#page9 .p9-bottom .p9-bottom-right .p9-right-top h3{
  position: absolute;
  top: 0;
  left: 0; 
  font-size: 1.5vw;
  font-weight: 400;
  margin-bottom: 0;
}
#page9 .p9-bottom .p9-bottom-right .p9-right-bottom {
width: 100%;
height: auto;
padding-top: 60px;
}

#page9 details{
  padding-top: 20px;
  border-top: 1px solid #B8B8B8;
  cursor: pointer;
}
#page9 summary::marker {
content: "";
}
#page9 summary {
display: flex;
flex-direction: column;
}
#page9 summary h1 {
font-size: 3.4vw;
display: flex;
align-items: center;
justify-content: space-between;
}
#page9 summary .drop-down {
font-size: 2vw;

}
#page9 summary .drop-down.open {
transform: rotate(0deg);

}
#page9 summary .drop-down.close {
transform: rotate(-90deg);

}
#page9 summary .p9-flex {
display: flex;
gap: 2px;
margin: 40px 0;
flex-wrap: wrap;
}
#page9 summary .p9-flex h3 {
font-size: 0.8vw;
font-weight: 500;
text-transform: uppercase;
padding: 5px 15px;
border: 1px solid #dadada;
border-radius: 100px;
}
#page9 .p9-detail{
width: 100%;
height: 150px;
display: flex;
align-items: flex-start;
justify-content: space-between;
flex-direction: row;
border-top: 1px solid #dadada;
padding: 10px;
position: relative;
z-index: 1;
}

.p9-detail .p9-detail-left{
  color: #fff;
  width: 30%;
  height: 100%;
  z-index: 1;
}
.p9-detail .p9-detail-left h4{
  color: #fff;
 font-size: 1.8vw;
 font-weight: 500;
 margin-bottom: 0;
}
.p9-detail .p9-detail-right{
  color: #fff;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
}
.p9-detail .p9-detail-right p{
  color: #fff;
  width: 70%;
  height: 100%;
  font-size: 1vw;
}
.p9-detail .p9-detail-right .arrow{
  color: #fff;
}
.p9-detail .p9-detail-effect{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #1F1F1F;
  top: 0;
  right: 0;
  z-index: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
  top: -30px;
}

/* page9-end */

/* page10-start */

#page10{
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  color: #111;
  padding: 80px;
  padding-bottom: 10px;
  position: relative;
}
#page10>h2{
  font-size: 6vw;
  text-align: start;
  width: 70%;
  margin-left: auto;
  padding: 30px 0;
  line-height: 6vw;
  text-transform: capitalize;
  margin-bottom: 40px;
  }
  .p10-mid{
    width: 100%;
    height: 450px;
    /* background-color: #0BA34E; */
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    border-top: 1px solid #dadada;
    padding: 60px 0;
    position: relative;
    flex-direction: row;
  }
  .p10-mid>button{
    background-color: #4F5BFF;
    font-size: 1.2vw;
    padding: 20px 30px;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    position: sticky;
    top: 15%;
  }
   .p10-mid .p10-mid-right{
    width: 60%;
    height: 100%;
    margin-bottom: 0;
   }
   .p10-mid .p10-mid-right span{
    display: block;
    width: 100%;
    height: 50px;
   }
   .p10-mid .p10-mid-right p{
    width: 80%;
   font-size: 1.8vw;
   font-weight: 500;
   }
   .p10-bottom{
    width: 100%;
    height: 400px;
    border-top: 1px solid #dadada;
    padding: 30px 0 0;
   }


   .p10-bt-content{
    width: 75%;
    height: 100%;
    /* background-color: #B8B8B8; */
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   }
   .p10-content{
    display: inline-block;
    border-left: 1px solid #dadada;
    padding: 5px;
   }
   .p10-content>h2{
    font-size: 1vw;
    font-weight: 400;
    margin-bottom: 30px;
   }
   .p10-content>h4{
    font-size: 1vw;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;
    background-color: #111;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    border-radius: 50px;
   }
   .p10-content span{
    font-size: 1vw;
    background-color: #333;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

   }

  .p10-content>h4:nth-child(2){
    transform: translateX(0);
  }
  .p10-content>h4:nth-child(3){
    transform: translateX(10%);
  }
  .p10-content>h4:nth-child(4){
    transform: translateX(20%);
  }
  .p10-content>h4:nth-child(5){
    transform: translateX(30%);
  }
  .p10-content>h4:nth-child(6){
    transform: translateX(40%);
  }
  .p10-content>h4:nth-child(7){
    transform: translateX(50%);
  }

/* page10-end */

/* page11-start */

#page11{
  width: 100%;
  height: auto;
  padding: 80px;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  /* border-bottom: 1px solid #B8B8B8; */

}
.p11-left{
width: 40%;
height: auto;
position: relative;
cursor: pointer;
margin-left: 40%;
/* background-color: #0BA34E; */
}
.p11-left h1{
font-size: 4.5vw;
text-transform: capitalize;
}
.p11-left .p11-bubble{
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: #0DA34E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  opacity: 0;
  scale: 0;
  z-index: 0;
}
.p11-left .p11-bubble i{
  font-size: 16px;
  transform: translate(0, -5px) rotate(-45deg) ;
  align-self: flex-end;
  color: #fff;
}
.p11-right{
width: 40%;
height: auto;
background-color: #0BA34E;
}

/* page11-end */

footer{
  width: 100%;
  height: 40px;
  padding: 30px 90px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  color: #fff ;
  position: relative;
}
footer p{
  color: #fff;
}
footer>p{
  width: 50%;
  font-weight: 500;
}
footer>p, .foot-right{
  font-size: 1.2vw;
}
footer .foot-right{
  width: 30%;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
footer .foot-top{
position: absolute;
top: 0;
width: 90%;
left: 5%;
height: 1px;
background-color: #B8B8B8;
}



/* #responsive-start */

@media (max-width:762px){
  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Remove tap highlight */
    -webkit-touch-callout: none; /* Disable callout */
    -webkit-user-select: none; /* Disable text selection */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none; /* Remove outline */
  }
 nav{
  height: 60px;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
 }
 nav h1{
  font-size: 30px;
 }
 .nav-part2 {
  display: none;
 }
 nav .btn {
  font-size: 12px;
  padding: 10px 15px;
 }
 nav .btn svg {
  height: 12px;
  margin-left: 5px;
}

#nav-bottom{
  display: none;
}

/* page1-start */
 #page1{
  height: auto;
  padding: 40px;
  padding-top: 150px;
  align-items: flex-start;

 }
 #page1 h1:first-child {
  white-space: nowrap;
}
 #page1 h1 {
  font-size: 4rem;
  line-height:4rem;
  font-weight: 800;
  letter-spacing: 0;
}
 #page1 br:first-child {
  display: block;
}
#page1 h1 svg {
  height: 60px;
  width: 60px;

}
#page1 p {
  text-align: start;
  font-weight: 500;
  margin-top: 3vh;
  font-size: 24px;
  color: #fff;
  width: 90%;
  margin-bottom: 2px;
}
#page1-something {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 60px;
}
#page1-something h4 {
  font-weight: 400;
  font-size: 24px;
  text-transform: lowercase;
  /* margin-top: 10px; */
  padding: 9px 18px;

}
#moving-div {
  /* margin-top: 80px;  */
  padding: 10px;
  width: 90%;
  margin: auto;

}
#moving-div .move img {
  height: 30px;
  margin: 0 20px;
}

/* page1-end */


/* page2-start */

#page2{
  width: 100%;
  height: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
  padding-bottom: 100px;
}
.p2-left{
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
.p2-left p{
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 40px;
}
.p2-left h5{
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 100px;
}

.p2-right{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.p2-elem{
  width: 100%;
  height:200px;
  flex-direction: column;
  border-top: 2px solid #333;
  padding: 2vh 0;
  position: relative;
  cursor: pointer;
  transition: border-top 0.5s linear;
  z-index: 0;
}
.p2-elem img{
  width: 80px;
  height: 80px;
  position: relative;
  opacity: 1;
  scale: 1;
  z-index: 0;
}
.p2-elem h4{
  width: 100%;
  font-size: 1.2rem;
}
.p2-elem-right{
  width: 100%;
}
.p2-elem p{
  font-size: 0.8rem;
}
.p2-elem svg{
  height: 0.8rem;
}
.p2-elem:hover svg{
  height: 0.8rem;
}
/* page2-end */
/* page3-start */




#page3{
  width: 100%;
  height: 100vw;
  background-size:100%;

}
.p3-play i{
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
}
.p3-play h4{
  font-size: 0.8rem;
}
/* page3-end */


/* page4-start */

#page4{
  width: 100%;
  height: auto;
  flex-direction: column;
  padding:100px 30px;
  pointer-events: none;
}
#page4 .p4-left{
  width: 100%;  
  margin-bottom: 60px; 
}
#page4 .p4-left h1{
  font-size:4rem;
  text-align:start;
  font-weight: 700;
  line-height: 4rem;
}
#page4 .p4-right{
  width: 100%; 
}
#page4 .p4-right h5{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
#page4 .p4-right p{
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 50px;
}

/* page4-end */
/* page5-start */
#page5{

  padding:30px;

}
#page5 .card{
  width: 380px;
  height: 210px;
}
#page5 .card .card-top h1{
  color: #111111;
  font-size: 60px;
  font-weight: 500;
 }
 #page5 .card .card-top h1{
  font-size: 3rem;
 }
 #page5 .card .card-top p{
  font-size: 16px;
 }
/* page5-end */
/* page6-start */

#page6{
  width: 100%;
    height: auto;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
}
#page6 .p6-container{
  width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: 50px;
    flex-direction: column;
    

}
#page6 .p6-container h2{
  float:unset;
  font-size: 1.5rem;
  position: relative;
  font-weight: 500;
  top: 0;
  margin-bottom: 30px;
}
#page6 .p6-container span{
  width: 0;

}
#page6 .p6-container p{
  font-size: 2.3rem;
  color: #111;
  font-weight: 500;

}

/* page6-end */
/* page7-start */

#page7{
  padding: 30px;
}
#page7 .p7-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#page7 .p7-left{
  width: 100%;
  height: auto;
}
#page7 .p7-left h3{
  font-size: 2.5rem;

}
#page7 .p7-left i{
  font-size: 1.3rem;
}
#page7 .p7-left p{
  font-size: 1.3rem;
  font-weight: 500;
  margin: 60px 0;

}
#page7 .p7-right{
  width: 100%;
  height: 100vw;

}
/* page7-end */
/* page8-start */

#page8{
  height: auto;
  width: 100%;
  padding: 60px;
}
#page8 .p8-container{
  height: 100%;
  width: 100%;
  flex-direction: column;
}
#page8 .p8-container .p8-box{
  width: 100%;
}
#page8 .p8-container .p8-box h3{
  font-size: 2.5rem;
  font-weight: 500;
  margin: 30px 0;
 }
 #page8 .p8-container .p8-box i , .arrow{
  font-size: 1.3rem;
}
#page8 .p8-container .p8-box img{
  height: 15px;


}
#page8 .p8-container .p8-box p{
  font-size: 1.4rem;
}
#page8 .p8-container video{
  position: relative; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px; 
  margin-bottom: 50px;
}
/* page8-end */
/* page9-start */
#page9{

  padding: 60px 30px;

}
#page9 .p9-top h2{
  font-size: 3.6rem;
  text-align: start;
  width: 100%;
  line-height: 3.6rem;
  }

  #page9 .p9-bottom {
    flex-direction: column-reverse;
    padding: 60px 0;
  }
  #page9 .p9-bottom .p9-bottom-right{
    width: 100%;
  }
  #page9 .p9-bottom .p9-bottom-right .p9-right-top span{
    width: 0;
    height: 0;
  }
  #page9 .p9-bottom .p9-bottom-right .p9-right-top h3{
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
  }
  #page9 .p9-bottom .p9-bottom-right .p9-right-top p{
    font-size: 2.5rem;
  }
  #page9 summary h1 {
    font-size: 2.6rem;
    }
  #page9 summary .drop-down {
      font-size: 2rem;
      
      }
  #page9 summary .p9-flex {
        margin: 20px 0;
  }
  #page9 summary .p9-flex h3 {
    font-size: 1.2rem;
    }
    #page9 .p9-detail{
      width: 100%;
      height: auto;
      padding: 20px 0;
      flex-direction: column;
   justify-content: center;
      }
      .p9-detail .p9-detail-left{
        width: 100%;
        height: 40%;
      }
      .p9-detail .p9-detail-left h4{
       font-size: 1.8rem;
       font-weight: 500;
       margin-bottom: 20px;
      }
      .p9-detail .p9-detail-right{
        width: 100%;
        height: 60%;
      }
      .p9-detail .p9-detail-right p{
        width: 80%;
        height: 100%;
        font-size: 1rem;
      }
      #page9 .p9-bottom .p9-bottom-left{
        width: 100%;
      
      
      }
      #page9 .p9-bottom .p9-bottom-left button{
        font-size: 1.4rem;
        margin-top: 30px;
      
      }
/* page9-end */
/* page10-start */
#page10{
  width: 100%;
  min-height: auto;
  padding: 80px 30px;
  padding-bottom: 10px;
}
#page10>h2{
  font-size: 3.5rem;
  width: 100%;
  padding: 30px 0;
  line-height: 3.2rem;
  }
  .p10-mid{
    height: auto;
    flex-direction: column-reverse;
    padding: 50px 0;

  }
  .p10-mid .p10-mid-right{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
   }
   .p10-mid .p10-mid-right p{
    width: 100%;
   font-size: 1.8rem;
   }
   .p10-mid .p10-mid-right span{
    height: 30px;
   }
   .p10-mid>button{
    background-color: #4F5BFF;
    font-size: 1.4rem;
    padding: 25px 40px;
  }
  .p10-bottom{
    width: 100%;
    height: auto;
   }
   .p10-bt-content{
    width: 100%;
    height: 100%;
    /* background-color: #B8B8B8; */
    margin-left: auto;
    display: flex;
    flex-direction: column;
   }
   .p10-content>h2{
    font-size: 1rem;
   }
   .p10-content>h4{
    font-size: 1rem;
    padding: 5px 5px;
    display: flex;
    width: 70%;
   }
   .p10-content span{
    font-size: 1rem;
    width: 30px;
    height: 30px;

   }
/* page10-end */
/* page11-start */
#page11{
  width: 100%;
  height: auto;
  padding: 80px 30px;
  background-color: #111;
}
.p11-left{
  width: 100%;
  height: auto;
  margin-left: 0;
  }
  .p11-left h1{
    font-size: 4rem;
    }
/* page11-end */
footer{
  width: 100%;
  height: 60px;
  padding: 30px 30px;
  padding-bottom: 40px;
}
footer>p, .foot-right{
  font-size: 0.5rem;
}
footer .foot-right{
  width: 40%;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
}